@media (max-width: 576px) {
  .live-btn {
    font-size: smaller !important;

    background-color: hsl(197, 22.5%, 72.2%) !important;
    font-family: Arial, Helvetica, sans-serif;
    width: 8rem;
    display: block !important;
    margin: 2rem 1rem 0 1rem;
    color: #000;
    z-index: 1;
    position: relative;
  }

  .live-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: hsl(197, 22.5%, 82.2%);
    transition: all 0.3s ease;
  }

  .live-btn:hover:after {
    left: 0;
    width: 100%;
  }
}

/* -------------------- */

@media (min-width: 576px) {
  .live-btn {
    background-color: hsl(197, 22.5%, 72.2%) !important;
    font-family: Arial, Helvetica, sans-serif;
    width: 10rem;
    display: block !important;
    margin: 2rem 1rem 0 1rem;
    color: #000;
    z-index: 1;
    position: relative;
  }

  .live-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: hsl(197, 22.5%, 82.2%);
    transition: all 0.3s ease;
  }

  .live-btn:hover:after {
    left: 0;
    width: 100%;
  }
}

/* ------Source Code-------- */

@media (max-width: 576px) {
  .source-btn {
    font-size: smaller !important;
    text-align: center !important;
    align-items: center;
    background-color: transparent;
    border: 2px solid hsl(197, 22.5%, 82.2%) !important;
    font-family: Arial, Helvetica, sans-serif;
    width: 8rem;
    /* padding: 0.5rem 1.6rem !important; */
    display: block !important;
    margin: 2rem 1rem 0 1rem;
    color: hsl(197, 22.5%, 92.2%) !important;
    z-index: 1;
    position: relative;
  }

  .source-btn:after {
    content: "→";
    left: 75%;
    position: absolute;
    color: hsl(197, 22.5%, 92.2%);
    opacity: 0;
    transition: ease-out 250ms;
  }

  .source-btn:hover:after {
    left: 75%;
    opacity: 1;
  }

  .source-btn:hover {
    width: 8rem;
  }
}

/* ------------------ */

@media (min-width: 576px) {
  .source-btn {
    text-align: center !important;
    align-items: center;
    background-color: transparent;
    border: 2px solid hsl(197, 22.5%, 82.2%) !important;
    font-family: Arial, Helvetica, sans-serif;
    width: 11rem;
    /* padding: 0.5rem 1.6rem !important; */
    display: block !important;
    margin: 2rem 1rem 0 1rem;
    color: hsl(197, 22.5%, 92.2%) !important;
    z-index: 1;
    position: relative;
  }

  .source-btn:after {
    content: "→";
    left: 70%;
    position: absolute;
    color: hsl(197, 22.5%, 92.2%);
    opacity: 0;
    transition: ease-out 250ms;
  }

  .source-btn:hover:after {
    left: 70%;
    opacity: 1;
  }

  .source-btn:hover {
    width: 11rem;
  }
}
