.cardText{
  font-family: Arial, Helvetica, sans-serif;
    color: lightgrey;
    line-height: 1;
}

@media (max-width: 410px) { 
.cardText, .contactText {
  font-size: large;
}
}

@media (min-width: 410px) { 
.cardText, .contactText {
    font-size: x-large;
}
}

.footer-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
}