/* ---------------Footer------------------------- */
.icons {
  transition: 0.3s;
}

@media (max-width: 360px) {
  .icons {
    margin: 0 0.5rem;
  }
}

@media (min-width: 360px) {
  .icons {
    margin: 0 1rem;
  }
}

.icons:hover {
  transform: translate(0, -10px);
}

.footer {
  display: flex;
  width: fit-content;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 1rem;
}

.upArrow {
  width: 5rem;
  display: flex;
  /* justify-content: center; */
  margin-left: auto !important;
  margin-right: auto !important;
  cursor: pointer;
}

.arrowContainer {
  width: 100%;
}

.messageIcon {
  width: 65px;
  height: 65px;
  background-color: #00D4D0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
