/* ---------------Footer------------------------- */
.icons {
  margin: 0 .5rem;
  transition: 0.3s;
}

.icons:hover {
  transform: translate(0, -10px);
 }

.footer {
  display: flex;
  width: fit-content;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 1rem;
}