.resumeBtn {
  background-color: #A9BFC8 !important;
  font-family: Arial, Helvetica, sans-serif;
  width: 20rem;
  display: block !important;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 410px) { 
.resumeBtn {
  width: 13rem;
}
}
