html {
    height: 100% !important;
}

#appWrapper {
  overflow-x: hidden !important;
}

nav * {
  z-index: 999;
}

body {
  overflow-x: hidden !important;
  background-color: #001621 !important;
  background-image: url("./constBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  z-index: -1;
}

@font-face {
  font-family: "coolvetica rg";
  src: local("coolvetica rg"), url(./fonts/coolveticarg.ttf) format("truetype");
}

@media (max-width: 576px) {
  #portfolio, #about > h2{
    font-size: 24pt !important;
  }
}

@media (min-width: 576px) {
  #portfolio, #about > h2 {
    font-size: 40pt;
  }
}

.projectWrapper {
  padding: 0 5rem ;
}

@media (max-width: 360px) {
  h3 {
    font-size: small !important;
  }
  .projectWrapper {
    padding: 0 1rem ;
  }
}

@media (min-width: 360px) {
  h3 {
    font-size: x-large !important;
  }
}

@media (min-width: 576px) {
  h3 {
    font-size: xx-large !important;
  }
}

@media (min-width: 992px) {
  h3 {
    font-size:  xx-large !important;
  }
}

@media (min-width: 1400px) {
  h3 {
    font-size:  xx-large !important;
  }
}

.banner .projectWrapper {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.attribution {
  color: #d2d2d2;
  display: flex;
  justify-content: center;
  font-family: monospace;
}

.attribution:hover {
  text-decoration: none !important;
  /* color: #3e75c3 !important; */
}
@media (max-width: 280px) {
  .attribution {
    font-size: 6pt;
  }
}

@media (min-width: 280px) {
  .attribution {
    font-size: 6pt;
  }
}

@media (min-width: 360px) {
  .attribution {
    font-size: 8pt;
  }
}

@media (min-width: 425px) {
  .attribution {
    font-size: 10pt;
  }
}

@media (min-width: 576px) {
  .attribution {
    font-size: 12pt;
  }
}
.project-text {
  color: #00aaaa !important;
}

.project-text:hover {
  text-decoration: none !important;
  color: #00d4d0 !important;
}

.wordGradient {
  color: #00d4d0;
}

/* -------- */

.downArrow {
  width: 5rem;
  display: flex;
  margin-left: auto !important;
  margin-right: auto !important;
  cursor: pointer;
}

.aboutArrow {
  margin-top: 80vh;
}

.contactRow {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------About me text ---------------- */

.aboutTextMobile {
  display: flex;
  position: absolute;
  background-color: #00434b00;
  width: 60vw;
  height: 60vw;
  font-size: 16pt;
  color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5vw;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  transition: color .75s, background-color .5s;

}

.aboutTextMobile:hover {
  position: absolute;
  background-color: #00434b78;
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.contactBackground {
  position: relative;
  background-color: #00444b;
  width: 35vw;
  height: 35vw;
  margin-left: 45vw;
  border-radius: 50%;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutBackground {
  position: absolute;
  background-color: #00444b;
  width: 35vw;
  height: 35vw;
  margin-left: 45vw;
  border-radius: 50%;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutBackgroundTransition {
  margin-left: 45vw;
  transition: margin-left 0.4s;

}

.aboutTextBackground {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #00434b4d;
  width: 75vw;
  margin-left: 0;
  border: 6px solid #00444b;
  height: 35vw;
  border-radius: 220pt;
}

.revealLeft {
  animation: revealLeft 3s linear both;
}

@keyframes revealLeft {
  0% {
    width: 0vw;
    margin-left: 50vw;
    border: none;
  }
  50% {
    width: 0vw;
    margin-left: 50vw;
    border: none;
  }
  100% {
    width: 75vw;
    margin-left: 0;
    border: 6px solid #00444b;
  }
}

.aboutText {
  color: lightgrey;
  text-align: justify;
  padding: 5% 48% 7% 10%;
}


@media (max-width: 600px) {
  .aboutTextMobile {
    font-size: 11pt;
  }
}

@media (max-width: 400px) {
  .aboutTextMobile {
    font-size: 7.5pt;
  }
}

@media (max-width: 1200px) {
  .aboutText {
    font-size: 13.5pt;
  }
}


@media (min-width: 1200px) {
  .aboutText {
    font-size: 16pt;
  }
}

@media (min-width: 1300px) {
  .aboutText {
    font-size: 17pt;
  }
}

@media (min-width: 1500px) {
  .aboutText {
    font-size: 20pt;
  }
}

.aboutImage {
  width: 33.7vw;
  height: 33.7vw;
  border-radius: 50%;
  /* transition: width .5s, height .5s; */
}


@media screen and (max-width: 992px) {
  .aboutTextBackground {
    display: none;
  }
  .aboutBackgroundTransition {
    margin-left: 0;
  }
  .aboutTextMobile {
    display: black;
  }
  .aboutBackground {
    width: 60vw;
    height: 60vw;
  }
  .aboutImage{
    width: 58vw;
    height: 58vw;
  }
}

@media screen and (min-width: 992px) {
  .aboutTextBackground {
    display: flex;
  }
  .aboutBackgroundTransition {
    margin-left: 45vw;
  }
  .aboutTextMobile {
    display: none;
  }
  .aboutBackground {
    width: 35vw;
    height: 35vw;
  }
}
/* ------------------Line 1 text------------------------ */

.slidingTextLine {
  color: lightgrey;
  font-family: "Open Sans", sans-serif;
  display: flex;
  line-height: 1.8;
  position: absolute;
}

@media (max-width: 280px) {
  .slidingTextLine {
    margin-top: 5vh;
    font-weight: 600;
    font-size: 15px;
  }
}

@media (min-width: 280px) {
  .slidingTextLine {
    margin-top: 5vh;
    font-weight: 600;
    font-size: 15px;
  }
}

@media (min-width: 360px) {
  .slidingTextLine {
    margin-top: 4vh;
    font-weight: 600;
    font-size: 20px;
  }
}

@media (min-width: 410px) {
  .slidingTextLine {
    margin-top: 4vh;
    font-weight: 600;
    font-size: 20px;
  }
}
@media (min-width: 425px) {
  .slidingTextLine {
    margin-top: 4vh;
    font-weight: 600;
    font-size: 25px;
  }
}

/* ---------------- */

@media (min-width: 576px) {
  .slidingTextLine {
    margin-top: 3vh;
    font-weight: 600;
    font-size: 30px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .slidingTextLine {
    margin-top: 0;
    font-weight: 600;
    font-size: 40px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .slidingTextLine {
    font-weight: 600;
    font-size: 40px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .slidingTextLine {
    font-weight: 600;
    font-size: 40px;
  }
}

/* ------------------------------------------- */

.images {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.project-container {
  margin: 0 2rem;
}

.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

@media (max-width: 410px) {
  .portfolioText {
    font-size: large;
    padding: 0rem;
  }
}

@media (min-width: 410px) {
  .portfolioText {
    font-size: x-large;
    padding: 0 1rem;
  }
}

/* ------------ */


.grid-container {
  padding: 0 1rem;

}


/* -------- */

@media (min-width: 1300px) {
  .grid-container {
    display: flex;
    justify-content: center;
    padding: 0 10rem;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
}

.opaque {
  opacity: 0;
}
